.divContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1rem;
    align-items: center;
    margin:1rem 0;

}
input{
    height: 2rem;
    border-radius: 1rem;
    border:0px;
    outline:none;
    padding:0.2rem 1rem 
}
button{
    background-color: transparent;
    border: 0px;
    display: flex;
    align-items: center;
}

img{
    height: 2rem;
}